@model BasicIdpExample.ViewModels.LoginViewModel

@{
    ViewBag.Title = @Model.ApplicationName;
    Layout = "_Layout";
}


<div class="form">
    <div class="thumbnail"></div>
    <h1>@Model.ApplicationName</h1>
    <b class="message">@Model.ErrorMessage</b>

    <form method="post" action="/login" class="login-form">
        <input type="hidden" name="authSid" value="@Model.AuthSid" />
        <input type="text" name="username" placeholder="Username" value="@Model.UserName" />
        <input type="password" name="password" placeholder="Password" />

        <button>Login</button>
    </form>

    <i class="information">@Model.UserInformation</i>
</div>
